@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(240, 253, 244);
}

.listing-buttons {
  width: 100%;
  padding: 0.75rem 1.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  transition: all 150ms ease-in-out;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}

/* px-7 py-3 font-medium text-sm uppercase rounded shadow-md  */
